.sidebar {
  padding: 10px 40px;
  &__logo {
    margin: 0 25px;
  }

  .MuiSvgIcon-root {
    font-size: x-large;
  }

  &__button {
    margin: 20px 0 0 0 !important;
    height: 45px !important;
    width: 100% !important;
    color: white !important;
    background-color: var(--twitter-color) !important;
    border-radius: 999px !important;
    font-weight: 600 !important;
    text-transform: inherit !important;
  }
}
