.sidebar {
  padding: 10px 20px;
  border-right: 1px solid var(--twitter-background);
  flex: 0.3;
  // min-width: 250px;

  &__logo {
    margin: 20px 0 10px 20px;
    font-size: 30px !important;
    color: var(--twitter-color);
  }

  .MuiSvgIcon-root {
    font-size: x-large;
  }

  &__button {
    margin: 20px 0 0 0 !important;
    height: 50px !important;
    width: 100% !important;
    color: white !important;
    background-color: var(--twitter-color) !important;
    border-radius: 999px !important;
    font-weight: 600 !important;
    text-transform: inherit !important;
  }
}
