.widgets {
  flex: 0.3;

  &__input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    border-radius: 999px;
    padding: 10px 20px;
    margin: 10px 0 0 20px;

    input {
      border: none;
      outline-width: 0;
      background-color: transparent;
      margin: 0 0 0 10px;
      font-size: 15px;
    }
  }
  &__widgetContainer {
    margin: 10px 0 0 20px;
    background-color: #f5f8fa;
    padding: 20px;
    border-radius: 20px;

    h2 {
      font-size: 22px;
      font-weight: 800;
      border-bottom: 1px solid var(--twitter-background);
      padding: 0 0 10px 0;
      margin: 0 0 10px 0;
    }
  }

  &__searchIcon {
    color: gray;
  }
}
