.sidebarRow {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px 25px;

  &--selected {
    color: var(--twitter-color);
  }

  &:hover {
    background-color: #e8f5fe;
    color: var(--twitter-color);
    border-radius: 999px;
    transition: color 100ms ease-out;
  }

  h3 {
    font-size: medium;
    margin: 0 0 0 20px;
  }

  &__avatar {
    height: 23px !important;
    width: 23px !important;
  }
}
